
$blueextradark: rgb(30,46,78);

$bluedark: rgb(0, 104, 180);

$blue: rgb(24, 112, 201);

$bluelight: rgb(90, 148, 207);

$blueextralight: rgb(180, 200, 232);


$greydark: rgb(82, 82, 82);

$grey: rgb(112, 112, 112);


$shadow: rgba(255 255 255 / 60%);