@mixin h-w-100( $h : 100%, $w : 100% ) {
  width: $w;
  height: $h;
}

@mixin d-center( $d : flex, $j : center, $a : center) {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute( $pos : absolute, $top : 0, $right : 0, $bottom : 0, $left : 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}