.panel {
  min-height: 93.75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  form {
    background-color: white;
  }

  .special-admin-header {
    position: absolute;
    top: 4vh;
    left: 6vw;
    font-size: max(12vw, 120px);
    z-index: -1;
    opacity: .05;
    user-select: none;
    pointer-events: none;
  }
}

.link-placeholder,
.d-none-992 {
  display: none;
}

@media (min-width:991.998px) {
  .link-placeholder {
    display: block;
  }

  #admin-bar {
    position: relative;
    left: 0;
    transition: .25s;
  
    #aside-nav {
      border-radius: 6px 0 0 6px;
    }
  }
  
  #admin-bar.close-bar {
    left: calc(-100% + 56px);
  }

  .d-none-992 {
    display: flex;
    justify-content: space-between;
  }
}



#aside-bar {
  .accordion-button {
    background-color: $blue;
  }

  .accordion-item {
    background-color: $bluelight;
  }
  .accordion-button, .accordion-item {
    color: white;
  }
}