.panel {
  min-height: 93.75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  form {
    background-color: white;
  }

  .special-admin-header {
    position: absolute;
    top: 4vh;
    left: 6vw;
    font-size: max(10vw, 120px);
    z-index: -1;
    opacity: .05;
    user-select: none;
    pointer-events: none;
  }

  .form-admin {
    min-height: 2.5em;
  }
  .form-admin .admin-switch-input {
    width: 4em;
    height: 2em;
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }
  }

  .online-screen {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid black;
    position: absolute;
    right: .5rem;
    bottom: 4px;
    z-index: 99;
  }
  .o-screen-green {
    background-color: rgb(64, 240, 11);
  }
  .o-screen-red {
    background-color: rgb(240, 11, 87);
  }

  .admin-card {
    max-height: 160px;
    object-fit: cover;
  }
  
}

.link-placeholder,
.d-none-992 {
  display: none;
}

.acc-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width:991.998px) {
  .link-placeholder {
    display: block;
  }

  .special-col {
    max-width: 100%;
    transition: .25s;
  }

  .special-col-header {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 56px;
    left: 0;
  }

  .special-col-header.close-bar {
    left: calc(-300px + 56px);
  }

  .special-col-main {
    width: calc(100% - 300px);
    flex: 0 0 auto;

    position: relative;
    left: 300px;
  }

  .special-col-main.close-bar {
    width: calc(100% - 56px);
    flex: 0 0 auto;

    position: relative;
    left: 56px;
  }

  #admin-bar {
    height: 100%;

    #aside-nav {
      border-radius: 6px 0 0 6px;
    }
  }
  
  .d-none-992 {
    display: flex;
    justify-content: space-between;
  }
}



#aside-bar {

  .accordion-button {
    background-color: $blue;

    &:focus {
      border: unset;
      box-shadow: unset;
    }
  }

  .accordion-item {
    background-color: $bluelight;
  }

  .accordion-button, .accordion-item {
    color: white;
  }


}