// --- BACKGROUNDS --- //

.bg-blue-extra-dark {
  background-color: $blueextradark;
}

.bg-blue-dark {
  background-color: $bluedark;
}

.bg-blue {
  background-color: $blue;
}

.bg-blue-light {
  background-color: $bluelight;
}

.bg-blue-extra-light {
  background-color: $blueextralight;
}
