
//--- subheading ---//
.subh-shadow {
  box-shadow: 0 2px 1rem 4px rgba(78, 78, 78, 0.5);
}
.subheading-text {
  color: rgba(255, 255, 255, .5);
}

.subh-h2 {
  font-size: calc(1rem + 1.5vw);
}

@for $i from 1 through 20 {
  .subitem-#{$i} {
    padding-left: 20px * $i;
    font-size: calc(.85rem + 1vw);
  }
}

@media (min-width:480px) {

  //--- subheading ---//
  @for $i from 1 through 20 {
    .subitem-#{$i} {
      padding-left: 35px * $i;
    }
  }

}

@media (min-width:768px) {

  //--- subheading ---//
  .subh-h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @for $i from 1 through 20 {
    .subitem-#{$i} {
      font-size: 1.25rem;
    }
  }
}

//--- cards ---//
$font-size: 15px;

.info-card {
  min-height: 310px;
  position: relative;
  padding: 30px 30px 20px 30px;
  background-color: #fff;
  color: #525252;
  border-bottom: 10px solid $bluedark;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.75);
  width: 100%;
  z-index: 5;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 10px);
    box-shadow: 0 0 8px 2px rgba(0,0,0,.1),0 0 16px 3px rgba(0,0,0,.1);
    z-index: -1;
  }
}

@media (min-width:420px) {
  .info-card {
    width: 320px;
    padding: 30px 20px 20px 20px;
  }
}

.opening-card {
  display: flex;
  justify-content: space-between;
  font-size: $font-size;
  margin-bottom: 1rem;

  > span {
    min-width: 160px;
  }
}

.card-list {
  list-style: none;
  
  li {
    line-height: 1.5;
    font-size: $font-size;
    margin-bottom: .5rem;
    display: flex;

    img {
      margin: 1px 8px 0 0;
    }
  }
}

// buttons
.buttons {
  $trans: .25s;

  margin: 4.5rem 0;
  padding-bottom: 1rem;

  > h2 {
    color: $textblack;
    letter-spacing: 1px;
    font-weight: 600;
  }

  > .btn-flex {
    width: 100%;
    margin: 3rem 0 0 0;
    display: block;

    figure {
      width: 100%;
      padding: 35px 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        transition: $trans;
        position: relative;
        top: 0;
      }

      figcaption {
        h3 {
          margin: .75rem 0 1.5rem 0;
          font-size: 1.3rem;
          font-weight: 400;
          color: $textblack;
        }
      }

      a {
        width: 194px;
        height: min-content;
        white-space: nowrap;
        padding: 1.3rem 3rem;
        font-weight: 700;
        font-size: 18px;
        text-decoration: none;
        background-color: $bluelight;
        color: #fff;
        border: 2px solid $bluelight;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        -webkit-transition: $trans;
        -moz-transition: $trans;
        -o-transition: $trans;
        transition: $trans;
      }
    }
  }

  @media(min-width:620px) {
    > .btn-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  
      figure {
        width: 300px;

        &:hover {
          img {
            transition: $trans;
            transform: scale(1.1);
            top: -25px;
          }
    
          a {
            background-color: white;
            color: $bluelight;
            border: 2px solid $bluelight;
          }
        }
      }
    }
  }
}

// --- strip --- //
$strip-map: (
  1: $blue,
  2: $bluelight,
  3: $blueextralight,
  4: $bluedark,
  5: $blueextradark,
);

.bg-strip {
  box-shadow: 0 .75rem .5rem 1px rgba(0, 0, 0, 0.2);

  @media (min-width:480px) {
      background-color: map-get($strip-map, 3);
  }
}

.strip-col {
  width: 100%;
  flex: 0 0 auto;

  .strip-font {
    font-size: 1.25rem;
    font-weight: 400;
  }
}



@for $i from 1 through 5 {
  .strip-clr-#{$i} {
    background-color: map-get($strip-map, $i);
  }

  @media (min-width:480px) {
    .strip-c-#{$i} {
      @if $i == 5 {
        width: 50%;
      } @else if $i == 4 {
        width: 50%;
      } @else {
        width: 33.333333%;
      }
    }
  }
}

@media (min-width:768px) {
  .strip-col {
    width: 20%;
    flex: 1 0 0;
  }
}

// --- Address --- //
.address-col {
  p {
    margin-bottom: 3px;
  }
}

// --- cross_list --- //
.square-list {
  list-style: square;
  color: $bluelight;

  li {
    width: max-content;
    padding: 0 1rem 0 .75rem;
    margin-bottom: 1rem;

    span {
      color: black;
    }
  }
}

// --- map --- //
.iframe-map {
  height: 500px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1), 0 0 12px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width:575.9998px) {
  .no-wrapper-576 {
    padding-left: 0;
    padding-right: 0;
  }

  .iframe-map {
    height: 360px;
  }
}

// --- download --- //
.download-link {
  width: max-content;
  // display: flex;
  // justify-content: start;
  // align-items: center;
  // text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: black;

  img {
    transform: scale(1);
    transition: .2s;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }

    button {
      color: $bluelight;
      text-decoration: underline;
    }
  }

  button {
    display: flex;
    justify-content: start;
    align-items: center;
    background: transparent;
    border: unset;
    text-decoration: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: inherit;
    }
  }
}

// --- extra_link --- //
.x-link-col {
  max-width: 900px;

  h2 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
  }
}

// --- form --- //
.contact-form {
  border: 1px solid $bluelight;
  border-radius: 1px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.05), 0 0 12px 2px rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 2rem 1rem;

  form {
    margin: auto 0 !important;
  }

  input, select, textarea, button, .form-check-input {
    border-radius: unset;
    font-size: 1rem;
  }
  .form-check-label {
    font-size: .9rem;
    padding: 0 .5rem;
  }
}

// --- headline_list --- //
.headline-list {
  list-style-type: none;
  padding-left: unset;
  margin-top: 1rem;

  li {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    p {
      padding-top: 2px;
    }
  }
}

// --- image_overlap --- //
$overlap: 2.5rem;

.overlap-box {
  position: relative;
  max-width: 800px; 
  margin: 0 auto 3rem auto;
}

.overlap {
  overflow: hidden;
  margin: 0 0 $overlap $overlap;
  
  img {
    transform: scale(1);
    transition: .35s ease-in;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    width: 100%;
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

.overlap-offset {
  margin: 0;
  position: absolute;
  left: calc(var(--bs-gutter-x) * 0.5);
  bottom: -17%;
  width: 40%;
  max-height: 50%;
}

@media(min-width:768px) {
  $overlap: 5rem;

  .overlap {
    margin: 0 0 $overlap $overlap;
  }

  .overlap-offset {
    margin: 0;
    bottom: -2rem;
  }

  .x-overlap {

    p {
      padding-right: 3vw;
    }
  }
}

@media(max-width:1399.998px) {
  .x-overlap {
    margin-top: 6rem !important;
  }
}

@media(max-width:767.998px) {
  .x-overlap {
    margin-top: 22vw !important;
  }
}

@media(min-width:1400px) {
  .overlap-size {
    > img {
      min-height: 400px;
      height: 100%;
    }
  }
}

// --- blog --- //

.row-justify {
  justify-content: center;

  @media(min-width:1400px) {
    justify-content: space-between;
  }
}

.present-container {
  background-image: linear-gradient(40deg, #fff 0, rgba(180, 200, 232, .5) 45%);
  background-color: white;
  box-shadow: -15px 15px 30px 5px rgba(0,0,0,.15);
  width: 500px;
  
  .present-aimage {
    height: 300px;
    width: 100%;
    overflow: hidden;

    img {
      transform: scale(1);
      transition: .35s;
      width: 100%;
      object-fit: cover;
      object-position: center;

    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  .present-box {
    padding: 1.25rem 1rem;
    height: 17.75rem;
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: left;
    // flex-direction: column;
    position: relative;
    
    h2 {
      color: $textblack;
      font-size: 1.25rem;
      line-height: 1.5;
      min-height: 60px;
      max-height: 12rem;
      overflow: hidden;
    }

    p {
      margin: 1rem 0;
      line-height: 1.5;
      font-size: 1rem;
      max-height: 9rem;
      overflow: hidden;
      text-overflow: clip;
    }
  }

  .present-link {
    // display: flex;
    // justify-content: end;
    height: max-content;
    padding: 0 1rem 1.25rem 1rem;
  }
}

// --- post --- //
.feed {
  // background-image: radial-gradient(at left top, rgb(219, 229, 247) 0, #fff 55%);
  // box-shadow: inset 0 -6px 8px 1px rgba(0, 0, 0, 0.075);

  .post {
    margin-top: 4rem;
  }

  h2 {
    font-size: 2.3rem;
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.post-img {
  display: inline;

  position: absolute;
  right: -5vw;
  top: 25vh;

  z-index: -1;

  img {
    width: 600px;
    filter: blur(5px);
  }
}


// --- headline_image --- //
.headline-image {
  p, h3 {
    color: black;
    text-shadow: 1px 1px 0 rgba(255,255,255, .25);
  }

  .hl-img-list {
    margin: 0;
    padding: 0 0 .8rem 2rem;

    li {
      margin: inherit;
      padding: .8rem .5rem 0 .5rem;
      width: 100%;
    }

    p {
      text-shadow: 1px 1px 0 rgba(255,255,255, .25);
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  @media (max-width:1399.9998px) {
    .img-box {
      max-height: 270px;

      img {
        object-fit: cover;
        object-position: center 17%;
        max-height: inherit;
      }
    }
  }

  @media (min-width: 1600px) {
    margin: 0 0 6rem 6rem;

    .img-box {
      margin: inherit inherit inherit inherit;
    }
  }



  @media (min-width:1400px) {
    display: flex;

    .text-box {
      
      .hi-img-p, h3 {
        margin-bottom: 0;
        padding: .5rem;
      }

      .hi-img-p, h3,
      .hl-img-list {
        position: relative;
        top: 2rem;
        left: -4rem;

        &::after {
          content: '';
          background-color: rgba(255, 255, 255, .5);
          @include position;
          height: 100%;
          z-index: -1;
          width: 4rem;
          opacity: 0;
          transition: .75s ease-out .5s;
        }
      }

      .hi-img-p.aos-animate, h3.aos-animate,
      .hl-img-list.aos-animate {

        &::after {
          content: '';
          opacity: 1;
        }
      }
    }
  }

  @media (min-width:768px) {
    .text-box {
      max-width: 840px;
    }
  }
}

.hl-img-title {
  @media (min-width: 1400px) {
    margin-left: 15%;
  }
  @media (min-width: 1600px) {
    margin-left: 28%;
  }
}

