
//--- subheading ---//
.subh-shadow {
  box-shadow: 0 2px 1rem 4px rgba(78, 78, 78, 0.5);
}

.subh-h2 {
  font-size: calc(1rem + 1.5vw);
}

@for $i from 1 through 20 {
  .subitem-#{$i} {
    padding-left: 20px * $i;
    font-size: calc(.85rem + 1vw);
  }
}

@media (min-width:480px) {

  //--- subheading ---//
  @for $i from 1 through 20 {
    .subitem-#{$i} {
      padding-left: 35px * $i;
    }
  }

}

@media (min-width:768px) {

  //--- subheading ---//
  .subh-h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @for $i from 1 through 20 {
    .subitem-#{$i} {
      font-size: 1.25rem;
    }
  }
}


