.header {
  position: relative;
  @include h-w-100($header-min500-height);
  z-index: 9;

  h1 {
    position: absolute;
    left: 0;
    bottom: -1rem;
    z-index: 99;
    padding-left: .5rem;

    > strong {
      font-size: 14px;
      letter-spacing: 2px;
      color: $textblack;
      text-transform: uppercase;
      white-space: nowrap;
      background-color: rgba(255, 255, 255, 0.4);

      position: absolute;
      left: -100%;
      bottom: -.5rem;
      padding-left: .7rem;

      // transition: .5s ease-in-out .1s;
      opacity: 0;
    }

    > .scaling {
      left: 0;
      opacity: 1;
      transition: .5s ease-in-out .1s;
    }
  }


  .img-box-header {
    @include h-w-100($header-min500-height);
    max-height: 84vh;
  
    .slideshow-img,
    .static-img {
      @include h-w-100($header-min500-height);
      object-fit: cover;
      object-position: center;
    }

    .static-img {
      max-height: 84vh;
    }
  }


}

@media(min-width:576px) {
  .header {
    h1 {
      bottom: -2.15vw;
      padding-left: 14vw;

      > strong {
        bottom: -.75vw;
        padding-left: calc(14vw + .4vw);
      }
    }
  }
}

@media(min-width:768px) {
  .header {
    @include h-w-100;

    .img-box-header {
      @include h-w-100;
    
      .slideshow-img,
      .static-img {
        @include h-w-100;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@media(min-width:820px) {
  .header {
    h1 {
      > strong {
        bottom: -.35vw;
      }
    }
  }
}

@media(min-width:992px) {
  .header {
    h1 {
      > strong {
        bottom: .2vw;
      }
    }
  }
}

@media(min-width:1400px) {
  .header {
    h1 {
      > strong {
        bottom: .5vw;
      }
    }
  }
}

@media(min-width:1900px) {
  .header {
    h1 {
      > strong {
        bottom: .75vw;
      }
    }
  }
}

.header-no-src {
  height: 16vh;
}
