.header {
  position: relative;
  // max-height: $header-max-height;
  @include h-w-100($header-min500-height);
  z-index: 9;

  h1 {
    position: absolute;
    left: 0;
    // bottom: -2.15vw;
    bottom: -1rem;
    // bottom: 0;
    z-index: 99;
    padding-left: .5rem;
  }


  .img-box-header {
    @include h-w-100($header-min500-height);
  
    .slideshow-img {
      @include h-w-100($header-min500-height);
      object-fit: cover;
      object-position: center;
    }
  }


}

// @media(min-width:576px) {
//   .header {
//     h1 {
//       padding-left: 14vw;
//     }
//   }
// }

@media(min-width:768px) {
  .header {
    @include h-w-100;

    .img-box-header {
      @include h-w-100;
    
      .slideshow-img {
        @include h-w-100;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@media(min-width:576px) {
  .header {
    h1 {
      bottom: -2.15vw;
      padding-left: 14vw;
    }
  }
}