main {
  position: relative;
}

main:not(.panel) {
  padding-top: $total-nav;
  overflow: hidden;
}


.x-btn {
  width: 194px;
  height: min-content;
  white-space: nowrap;
  padding: 1.3rem 3rem;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  background-color: #5a94cf;
  color: #fff;
  border: 2px solid #5a94cf;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;

  &:hover {
    color: #1870c9;
    background-color: rgba(0,0,0,0);
  }
}
