main {
  position: relative;
}

main:not(.panel) {
  padding-top: $total-nav;
  padding-bottom: $total-nav;
  overflow: hidden;

  &::before {
    content: '';
    background-image: radial-gradient(at left top, rgb(180, 200, 232) 0, transparent 55%);
    background-color: white;

    @include position;
    @include h-w-100(250rem);
    z-index: -1;
  }
}
