.navigation {
  height: $total-nav;

  background-color: white;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15);
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // --------- info --------- 
  ul {
    list-style-type: none;
    padding-left: unset;
    margin-bottom: unset;
  }

  nav .wrapper, ul, .info-strip, .info-contact {
    display: flex;
    align-items: center;
  }

  .info-strip {
    @include h-w-100($info-nav);
    justify-content: space-evenly;

    a {
      color: white;

      &:hover {
        color: $shadow;
      }
    }
  }

  .info-title, .info-phone {
    display: none;
  }

  .info-title {
    a {
      text-decoration: none;
      font-weight: 500;
    }
  }

  .phone-img {
    height: $info-nav;
    padding: 6px 4px;
  }

  .lang-menu {
    font-size: .95rem;

    a {
      text-decoration: none;
      padding: 1px 4px;
      margin: 0 2px;
      transition: .2s;
    }

    a.active {
      border-bottom: 1px solid white;

      &:hover {
        border-bottom: 1px solid $shadow;
      }
    }
  }


  // ------ navigation ------ 

  $list35r: .35rem;
  $list75r: .75rem;

  nav {
    @include h-w-100($main-nav);
    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 8px;
    }

    ul {
      position: relative;
    }

    li {
      padding: $list35r .15rem;
      margin: .5rem;
    }

    a:not(.additive-link a),
    .x-point {
      text-transform: uppercase;
      text-decoration: none;
      color: $bluedark;
      font-weight: 600;
      font-size: 1rem;
      padding: 4px 0;
      margin: 0;
      line-height: 1;
      white-space: nowrap;
    }

    a.active {
      color: $grey !important;

      &:hover {
        color: $bluelight;
      }
    }
  }

  .additive-link {
    color: $textblack;
    font-weight: 500;
    height: 100%;
    margin: 0;
    display: flex;
    text-align: center;
    
    > a {
      font-size: calc(.5rem + 2.5vw);
      text-decoration: none;
      color: inherit;
      align-self: center;
    }
  }

  $toggle-trans: .25s;
  $menu-trans: .35s;
  input[type="checkbox"] {
    display: none;
  }
  .toggle {
    height: 100%;
    width: 60px;
    margin-left: 10px;

    background-color: $bluelight;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: 6px;
    z-index: 99999;

    span {
      height: 2px;
      width: 54%;
      background-color: white;
      user-select: none;

      position: relative;
      left: 0;
      right: 0;

      transition: $toggle-trans;

      &:first-child {
        transition: .01s ease-out;
      }
    }
  }

  #toggle:checked ~ .toggle {
    gap: 0;

    span {
      &:first-child {
        visibility: hidden;
      }
  
      &:nth-child(2),
      &:last-child {
        transform: rotate(45deg);
        width: 80%;
        height: 3px;
        top: 1px;
      }
  
      &:last-child {
        transform: rotate(-45deg);
        top: -1px;
      }
    }
  }

  // --- Submenu --- //
  .sub-menu {
    visibility: hidden;
  }

  @media(max-width:479.998px) {
    .nav-wrapper {
      padding: 0 0 0 0.25rem;
    }
  }
  @media(max-width:991.998px) {
    .nav-wrapper {
      padding-right: 0;
    }

    .toggle {
      @include d-center;
    }

    .menu {
      @include h-w-100;
      @include position(fixed, $total-nav);
      visibility: hidden;

      ul {
        @include h-w-100(0);
        padding: 0;
        display: block;
        overflow: scroll;
        transition: $menu-trans linear .175s;
        background-color: white;
        box-shadow: inset 0 -1px 5px black;

        &::after {
          content: '';
          @include position(absolute, -2px, 0, unset, unset);
          height: 2px;
          width: 0;
          background-color: $bluelight;
          transition: $menu-trans linear $toggle-trans;
        }

        li {
          margin: $list75r 0;
          padding-left: 0;

          &:first-child {
            margin-top: 4rem;
          }

          a, .x-point {
            margin: 0 $list75r 0 0;
            display: block;
            height: min-content;
            line-height: 1;
            font-size: calc(.25rem + 7.5vw);
            font-weight: 700;
            text-align: right;
            text-transform: uppercase;
          }
        }
      }

      .sub-menu {

        > ul {
          box-shadow: none;
          background-color: transparent;
          height: 0;
        }

        .x-list {
          background-color: white;
          margin: 0;
          padding: $list75r 0;
          // position: relative;
          // left: -110vw;
          // visibility: hidden;

          @for $i from 20 through 1 {
            &:nth-child(#{$i}) {
              transition: all $toggle-trans linear calc($toggle-trans * #{$i} / 4);
            }
          }
        }

        .x-link {
          margin: 0 0 0 $list75r;
          padding: .4rem 0;
          text-align: left;
          font-size: calc(.25rem + 4.5vw);
          color: white;
          text-transform: capitalize;
          font-weight: 400;
        }
        #x-link-first {
          margin: 1.5rem 0 0 $list75r;
        }
        #x-link-last {
          margin: 0 0 1rem $list75r;
        }
      }


      // ---- Sub menu ---- //
      .x-toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
          $xtoWidth: 56px;
          min-height: 100%;
          width: $xtoWidth;
          position: relative;

          > span {
            @include position;
            @include h-w-100;
            background-color: $blue;

            &::after,
            &::before {
              $plusHeight: 4px;
              content: '';
              @include h-w-100($plusHeight, calc($xtoWidth / 2));
              position: absolute;
              top: 45%;
              left: calc($xtoWidth / 4);
              background-color: white;
            }

            &::before {
              transform: rotate(270deg);
              transition: $menu-trans;
            }
          }
        }
  
        .x-point {
          transition: $toggle-trans;
        }
      }
  
      .x-toggle-id:checked ~ .x-toggle {
        .x-point {
          color: $blueextralight;
        }

        span > span::before {
          transform: rotate(0);
        }
      }
      .x-toggle-id:checked ~ .sub-menu {
        visibility: visible;

        @for $i from 3 through 20 {
          > ul.x#{$i}-ul {
            height: calc((60px * #{$i}) + 30px);
          }
        }

        > ul li.x-list {
          background-color: $bluelight;
        }

        > ul li.x-list.active {
          background-color: $blueextralight;
        }
      }
  
  
    }

  
    // ---- Main menu ---- //
    #toggle:checked ~ .menu {
      visibility: visible;
      
      > ul {
        @include h-w-100;
        padding-bottom: 10rem;

        &::after {
          width: 100%;
        }
      }
    }
  }

  @media(min-width:480px) {
    .info-phone {
      display: block;
      position: relative;
      top: 5px;
    }
  }
  
  @media(min-width:992px) {
    // --------- info --------- 
    .lang-stretch {
      padding-left: calc(1.5vw + 12rem);
    }

    .info-strip {
      justify-content: space-between;
    }

    .info-title {
      display: block;
      min-width: $brand-width;
    }

    // ------ navigation ------ 
    .brand {
      @include d-center;
      @include h-w-100(100%, $brand-width);
    }

    .additive-link {
      display: none;
    }

    .menu {
      width: 100%;
      display: flex;
      justify-content: center;

      @media(min-width:1420px) {
        > ul {
          margin-right: 12vw;
        }
      }

      li {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 0;
          background-color: $blue;
          transition: $toggle-trans;
        }
        &:hover::before {
          width: 100%;
        }
      }
      li.x-list {
        &::before {
          height: 1px;
        }
      }
    }

    .x-toggle {
      cursor: pointer;

      h6 {
        pointer-events: none;
      }
    }

    .sub-menu {
      position: absolute;
      top: 28px;
      left: -8rem;
      pointer-events: none;

      @for $i from 3 through 20 {
        ul.x#{$i}-ul {
          height: calc(144px * (#{$i} / 9));
        }
      }
      
      ul {
        $gap: 1rem;
        width: 700px;
        // height: 144px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: $gap;
        position: relative;
        left: 10rem;
        background-color: white;
        padding: $gap $list35r $list35r $list35r;
        margin: 25px 0 0 0;
        border-top: 2px solid $blue;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.15);
        transition: $toggle-trans;
        opacity: 0;

        li {
          margin: 0;
          padding: 0;

          a {
            padding: $list35r;
            margin: 0;
            text-transform: capitalize;
            font-size: .9rem;
            font-weight: 500;
          }
        }
      }
    }

    li:hover .sub-menu,
    .x-toggle-id:checked ~ .sub-menu,
    .x-toggle:hover ~ .sub-menu {
      visibility: visible;
      pointer-events: all;

      ul {
        left: 0;
        opacity: 1;
      }
    }
  }

}