.navigation {
  height: $total-nav;

  background-color: white;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15);
  z-index: 9999;

  // --------- info --------- 
  ul {
    list-style-type: none;
    padding-left: unset;
    margin-bottom: unset;
  }

  nav, ul, .info-strip, .info-contact {
    display: flex;
    align-items: center;
  }

  // wrapper
  nav, .info-strip {
    padding: 0 .5rem;
  }

  .info-strip {
    @include h-w-100($info-nav);
    justify-content: space-evenly;

    a {
      color: white;

      &:hover {
        color: $shadow;
      }
    }
  }

  .info-title, .info-phone {
    display: none;
  }

  .info-title {
    a {
      text-decoration: none;
      font-weight: 500;
    }
  }

  .phone-img {
    height: $info-nav;
    padding: 6px 4px;
  }

  .lang-menu {
    font-size: .95rem;

    a {
      text-decoration: none;
      padding: 1px 4px;
      margin: 0 2px;
      transition: .2s;
    }

    a.active {
      border-bottom: 1px solid white;

      &:hover {
        border-bottom: 1px solid $shadow;
      }
    }
  }

  // ------ navigation ------ 
  nav {
    @include h-w-100($main-nav);
  }


  @media(min-width:480px) {

    .info-phone {
      display: block;
      position: relative;
      top: 5px;
    }
  }

  @media(min-width:768px) {
    // --------- info --------- 

    // wrapper
    nav, .info-strip {
      padding: 0 6rem;
    }

    .info-strip {
      padding-right: 5rem;
      justify-content: space-between;
    }

    .info-title {
      display: block;
      min-width: $brand-width;
    }
  }
  
  @media(min-width:998px) {
    // --------- info --------- 
    .lang-stretch {
      padding-left: calc(1.5vw + 6rem);
      padding-right: 6rem;
    }

    // ------ navigation ------ 
    .brand {
      @include d-center;
      @include h-w-100(100%, $brand-width);
    }
  }
}